.main{
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}
.show-more{
  width: 100%;
}
.nav{
  position:fixed;
  left: 0;
  top:0;
}
.tickets{
  margin-left: 100px;
}